/* You can add global styles to this file, and also import other style files */
/* ./your-css-folder/styles.css */
/*
FOR CSS FILES
@tailwind base;
@tailwind components;
@tailwind utilities;
*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.c-mt-1 {
    margin-top: 1em;
}