<div class="container">
	<div style="margin: 2px;">
		<div class="row">
			<div class="col-md-4">
				<!-- Element button list -->
				<button class="btn btn-primary mr-1" (click)="apply('h1')">h1</button>
				<button class="btn btn-primary mr-1" (click)="apply('h2')">h2</button>
				<button class="btn btn-primary mr-1" (click)="apply('p')">P</button>
				<button class="btn btn-primary mr-1" (click)="apply('h3')">h3</button>
				<button class="btn btn-primary mr-1" (click)="apply('h4')">h4</button>
				<button class="btn btn-primary mr-1" (click)="apply('h5')">h5</button>
				<button class="btn btn-primary mr-1" (click)="apply('h6')">h6</button>
			</div>
			<div class="col-md-8">
				<!-- Preview -->
				<div id="preview">
					Hello World!
				</div>
			</div>
		</div>
	</div>
</div>
